<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jslhrd.carproject.mapper.ad.AdMapper">
	<insert id="adInsert">
		insert into ad(idx,user_id,start_date,end_date,ad_gubun,ad_grade,ad_price,pass,subject,contents,photo)
			values(get_seq('ad_Seq'),#{user_id},#{start_date},#{end_date},#{ad_gubun},#{ad_grade},#{ad_price},#{pass},#{subject},#{contents},#{photo})
	</insert>
</mapper>